<!DOCTYPE html>
<html lang="en" dir="ltr">

<body>
    <!-- Need a title and a sub-title to state the purpose of the main page-->
    <h1>Hospital Patient Portal</h1>
    <h2>This portal allows users to add and delete patient names from the hospital database.</h2>

    <!-- want to create a drop down menu per the bonus question-->
    <label for="options">Choose an option:</label>

    <!-- provide the two options, with a button to submit-->
    <select name="options" id="options">
        <option value="add">Add Patient Name</option>
        <option value="delete">Delete Patient Name</option>
        <input type="submit"></input>
    </select>
</body>

</html>